* {
    color: white;
    font-weight: bold;
}

h3 {
    margin: 0;
    padding-top: 20px;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    text-align: center;
    
}
.first {
    background-color: rgb(106, 106, 106);
    margin: 0;
    height: 100px;
}

.second {
    position: absolute;
}
.main {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.design {
    background-color: rgb(0, 0, 0);
    border: 10px solid rgb(62, 62, 62);
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 5px;

}

.design img {
    margin-top: 20px;
    height: 300px;
    object-fit: contain;
    border-image: 10px;
}

.movie-name {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.release {
   font-size: 20px;
}

.hover {
    border-radius: 8px;
    transform: all 3s;
    transition: 1s;
    cursor: pointer;
    z-index: 1;
}

.hover:hover {
    transform: scale(1.2);
    z-index: 2;
}