
b {
    font-size: 30px;
}
.main-corner {
    background-color: white;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.image {
    margin-left: 10px;
    margin-right: 30px;
    width: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-with-border {
    border-radius: 5px;
    width: 400px;
    height: 50vh;
}

.content {
    margin-top: 100px;
    width: 100vw;
    /* background-color: rgb(111, 126, 69); */
    font-size: 25px;
    font-family: system-ui;
    /* display: flex;
    flex-direction: column;
    align-self: normal; */
}

.horror {
    display: inline-block;
    background-color: yellow;
    border: 5px solid yellow;
    font-weight: bolder;
    margin-left: 20px;
}

.cast {
    display: inline-block;
}

.cast-div {
    height: 20vh;
    width: 15vh;
}
.cast-image {
    height: 15vh;
    width: 10vh;
    object-fit: cover;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
    z-index: 1;
}

.cast-image:hover {
    transform: scale(1.5);
    z-index: 2;
}
